/* body{
    background-image: url(img/hm.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */
.grid-container {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 10rem 10rem 10rem;
    padding: 10px;
    gap: 50px 50px;
    margin-left: 14rem;
  }
  .grid-item {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
img{
    height: 7rem;
    width: 12rem;
}
h1{
    text-align: center;
}
